@import 'ui';

.hero {
  position: relative;

  &::before {
    content: '';
    background: linear-gradient(rgba(yellow, 0.4), rgba(black, 0.8));
    position: absolute;
    opacity: 0.3;
    inset: 0;
    z-index: 1;
  }
}

.honeypot {
  @include element-invisible;
}

.formRow {
  margin-bottom: 16px;
}

.label {
  display: block;
  line-height: 1.5;
}

.textField,
.textArea {
  box-sizing: border-box;
  border: 1px solid #444;
  border-radius: 4px;
  line-height: 32px;
  padding: 0 8px;
  width: 100%;
}

.fieldSet {
  border: 0;
  padding: 0;
  margin: 0;
}

.legend {
  line-height: 1.5;
  margin-bottom: 8px;
}

.fieldSetItem {
  margin-bottom: 4px;
}

.radio {
  margin-right: 8px;
}

.button {
  background: #fff;
  border-radius: 100px;
  border: 0;
  box-shadow: 0 0 0 1px darken(#fec5bb, 55%);
  color: darken(#fec5bb, 55%);
  cursor: pointer;
  line-height: 40px;
  padding: 0 24px;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px darken(#fec5bb, 60%);
    color: darken(#fec5bb, 60%);
  }

  &:active {
    box-shadow: 0 0 0 2px darken(#fec5bb, 65%);
    color: darken(#fec5bb, 65%);
  }
}
