// https://coolors.co/fec5bb-fcd5ce-fae1dd-f8edeb-e8e8e4-d8e2dc-ece4db-ffe5d9-ffd7ba-fec89a

.cta {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 32px 0 64px;
}

.link {
  background: #fff;
  border-radius: 100px;
  border: 0;
  box-shadow: 0 0 0 1px darken(#fec5bb, 55%);
  color: darken(#fec5bb, 55%);
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 40px;
  padding: 0 24px;
  text-decoration: none !important;

  &:hover,
  &:focus {
    box-shadow: 0 0 0 2px darken(#fec5bb, 60%);
    color: darken(#fec5bb, 60%);
  }

  &:active {
    box-shadow: 0 0 0 2px darken(#fec5bb, 65%);
    color: darken(#fec5bb, 65%);
  }
}
