@import 'ui';

body {
  color: #333;
  font-family: 'Noto Sans JP', 'Helvetica Neue', Roboto, Helvetica, Arial,
    sans-serif !important;
  padding-top: 60px;
}

h2 {
  margin-top: 0;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

li {
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: darken(#fec5bb, 55%);
  text-decoration: none;

  &:hover,
  &:focus {
    color: darken(#fec5bb, 60%);
    text-decoration: underline;
  }

  &:active {
    color: darken(#fec5bb, 65%);
  }
}
