// @name Font Style

$font-styles: (
  // Special
  'special-300':
    (
      'font-size': $font-size-76,
      'font-weight': $font-weight-light,
      'line-height': $line-height-127,
    ),
  'special-200': (
    'font-size': $font-size-54,
    'font-weight': $font-weight-light,
    'line-height': $line-height-119,
  ),
  'special-100': (
    'font-size': $font-size-36,
    'font-weight': $font-weight-light,
    'line-height': $line-height-133,
  ),
  // Heading
  'heading-600':
    (
      'font-size': $font-size-36,
      'font-weight': $font-weight-bold,
      'line-height': $line-height-133,
    ),
  'heading-500': (
    'font-size': $font-size-28,
    'font-weight': $font-weight-bold,
    'line-height': $line-height-129,
  ),
  'heading-400': (
    'font-size': $font-size-24,
    'font-weight': $font-weight-bold,
    'line-height': $line-height-133,
  ),
  'heading-300': (
    'font-size': $font-size-20,
    'font-weight': $font-weight-bold,
    'line-height': $line-height-120,
  ),
  'heading-200': (
    'font-size': $font-size-18,
    'font-weight': $font-weight-bold,
    'line-height': $line-height-133,
  ),
  'heading-100': (
    'font-size': $font-size-16,
    'font-weight': $font-weight-bold,
    'line-height': $line-height-125,
  ),
  // Body
  'body-500':
    (
      'font-size': $font-size-20,
      'font-weight': $font-weight-regular,
      'line-height': $line-height-120,
    ),
  'body-400': (
    'font-size': $font-size-18,
    'font-weight': $font-weight-regular,
    'line-height': $line-height-133,
  ),
  'body-300': (
    'font-size': $font-size-16,
    'font-weight': $font-weight-regular,
    'line-height': $line-height-150,
  ),
  'body-200': (
    'font-size': $font-size-14,
    'font-weight': $font-weight-regular,
    'line-height': $line-height-143,
  ),
  'body-100': (
    'font-size': $font-size-12,
    'font-weight': $font-weight-regular,
    'line-height': $line-height-133,
  )
);

/**
 * Get font style by style.
 *
 * @param {string} $font-style - Font style name.
 * @output {Map} $font-style
 */
@function font-style($font-style) {
  @if map-has-key($font-styles, $font-style) == false {
    @warn 'font-style(): "#{$font-style}" is not defined in your $font-styles setting.';
  }

  @return map-get($font-styles, $font-style);
}

/**
 * Inline font style.
 *
 * @param {string} $font-style - Font style name.
 * @output Font styles.
 */
@mixin font-style($font-style) {
  $value: font-style($font-style);

  @if map-has-key($value, 'color') {
    color: map-get($value, 'color');
  }

  // font-family: map-get($value, 'font-family');
  font-size: map-get($value, 'font-size');
  font-weight: map-get($value, 'font-weight');
  line-height: map-get($value, 'line-height');
}
