@import 'ui';

.container {
  position: relative;
}

.header {
  position: relative;

  &::before {
    content: '';
    background: linear-gradient(rgba(yellow, 0.4), rgba(black, 0.8));
    position: absolute;
    opacity: 0.3;
    inset: 0;
    z-index: 1;
  }
}

.titleContainer {
  inset: 50% auto auto 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title {
  color: $color-white;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 2rem;
  margin: 2rem 0;
  text-align: center;
  text-shadow: 0 0 2px #000;
  text-transform: uppercase;
}
