@import 'ui';

// @name Hero

.hero {
  margin-top: -60px;
  padding-top: 3/4 * 100%;

  @include breakpoint(medium) {
    padding-top: 9/16 * 100%;
  }
}

// @name Hero Content Container

.heroContentContainer {
  background-image: linear-gradient(rgba(#333, 0.5), transparent);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

// @name Hero Content

.heroContent {
  padding: 0 16px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

// @name Hero Title

.heroTitle {
  @include font-style(heading-500);

  color: #fff;
  margin: 0;
  margin-bottom: 4px;
  text-shadow: 0 0 5px #000;

  @include breakpoint(medium) {
    @include font-style(heading-600);

    margin-bottom: 8px;
  }

  @include breakpoint(large) {
    @include font-style(special-200);

    margin-bottom: 8px;
  }

  @include breakpoint(xxlarge) {
    @include font-style(special-300);

    margin-bottom: 16px;
  }
}

// @name Hero Subtitle

.heroSubtitle {
  @include font-style(heading-300);

  color: #fff;
  text-shadow: 0 0 5px #000;

  @include breakpoint(medium) {
    @include font-style(heading-400);
  }

  @include breakpoint(large) {
    @include font-style(special-100);
  }

  @include breakpoint(xxlarge) {
    @include font-style(special-100);
  }
}
